*{
    box-sizing: border-box;
}
.box{
    background-color: #ccc;
    display: flex;
    align-items: center;
    text-align: center;
}
.inn{
    flex:3;
    padding: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.inn.team-1{
    order:0;
}
.inn.team-2{
    justify-content: flex-end;
    order:2
}
.inn .teamDesc{
    display: flex;
    flex-direction: column;
}
.inn .teamDesc .teamName{
    font-size: small;
}

.status{
    flex:2;
    order:1;
}
.status .live{
    margin: 2px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(255, 74, 74);
    animation: liveDot;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes liveDot{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.flagImg{
    margin:0px 5px;
    width: auto;
    height: 2em;
}